gestures {
  hot-corners {
    off
  }
}
prefer-no-csd
environment {
  QT_QPA_PLATFORMTHEME "gtk3"
  TERMINAL "ghostty"
  EDITOR "nvim"
}
cursor {
  xcursor-theme "Bibata-Original-Classic"
}
hotkey-overlay {
  skip-at-startup
}
