@import "mocha.css";
window#waybar {
  font-family: JetBrainsMono NFM;
  font-size: 16px;
  border: 2px solid @pink;
  color: @text;
}
tooltip {
    background-color: @base;
    border: 2px solid @pink;
    border-radius: 0px;
}
#workspaces button {
  padding: 0 2px;
  background-color: transparent;
  color: @text;
}
