@import "mocha.css";
window#waybar {
  font-family: JetBrainsMono NFM;
  font-size: 16px;
}
#workspaces button {
  padding: 0 2px;
  background-color: transparent;
  color: #ffffff;
}

#tags button {
  padding: 0 0px;
  background-color: transparent;
  color: #ffffff;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -69420px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}
